<div style="margin-bottom: 2em;">
  <strong>Daniel Gallardo</strong><br>
  Health Economics and Epidemiology, Insights, Evidence & Value Division, ICON plc<br>
  <a href="mailto:daniel.gallardogomez200@gmail.com">Email</a> |
  <a href="https://github.com/dgalgom">GitHub</a> |
  <a href="https://twitter.com/DanielG12754470">X / Twitter</a>
</div>